workflow/vod-encoding-mediaconvert-job.json
{
  "StartAt": "createMediaConvertJob",
  "States": {
    "Parallel": {
      "Branches": [
        {
          "StartAt": "publishMediaConvertStatus",
          "States": {
            "publishMediaConvertStatus": {
              "End": true,
              "Parameters": {
                "Message.$": "$",
                "TopicArn": "arn:aws:sns:ap-northeast-1:917447186506:video-pipeline-status"
              },
              "Resource": "arn:aws:states:::sns:publish",
              "Type": "Task"
            }
          }
        },
        {
          "StartAt": "checkMediaConvertStatus",
          "States": {
            "CreateAsset": {
              "Next": "Parallel (1)",
              "Parameters": {
                "Id.$": "$.task.id",
                "PackagingGroupId.$": "$.task.packagingGroupId",
                "SourceArn.$": "$.task.sourceArn",
                "SourceRoleArn.$": "$.task.sourceRoleArn"
              },
              "Resource": "arn:aws:states:::aws-sdk:mediapackagevod:createAsset",
              "Type": "Task"
            },
            "Parallel (1)": {
              "Branches": [
                {
                  "StartAt": "publishMediaPackageStatus",
                  "States": {
                    "publishMediaPackageStatus": {
                      "End": true,
                      "Parameters": {
                        "Message.$": "$",
                        "TopicArn": "arn:aws:sns:ap-northeast-1:917447186506:video-pipeline-status"
                      },
                      "Resource": "arn:aws:states:::sns:publish",
                      "Type": "Task"
                    }
                  }
                },
                {
                  "StartAt": "waitForCreateAsset",
                  "States": {
                    "waitForCreateAsset": {
                      "Type": "Wait",
                      "Seconds": 30,
                      "Next": "DescribeAsset"
                    },
                    "DescribeAsset": {
                      "Next": "Map",
                      "Parameters": {
                        "Id.$": "$.Id"
                      },
                      "Resource": "arn:aws:states:::aws-sdk:mediapackagevod:describeAsset",
                      "Type": "Task"
                    },
                    "Map": {
                      "ItemProcessor": {
                        "ProcessorConfig": {
                          "Mode": "INLINE"
                        },
                        "StartAt": "checkStreamPlayable",
                        "States": {
                          "Fail": {
                            "Type": "Fail"
                          },
                          "Success": {
                            "Type": "Succeed"
                          },
                          "checkStreamPlayable": {
                            "Choices": [
                              {
                                "Variable": "$.EgressEndpoint.Status",
                                "StringEquals": "FAILED",
                                "Next": "Fail"
                              },
                              {
                                "Variable": "$.EgressEndpoint.Status",
                                "StringEquals": "PLAYABLE",
                                "Next": "publishPlayableStream"
                              }
                            ],
                            "Default": "Pass",
                            "Type": "Choice"
                          },
                          "Pass": {
                            "Type": "Pass",
                            "End": true,
                            "Result": {
                              "Id.$": "$.Id"
                            }
                          },
                          "publishPlayableStream": {
                            "Next": "Success",
                            "Parameters": {
                              "Message.$": "$",
                              "TopicArn": "arn:aws:sns:ap-northeast-1:917447186506:video-pipeline-status"
                            },
                            "Resource": "arn:aws:states:::sns:publish",
                            "Type": "Task"
                          }
                        }
                      },
                      "Next": "waitForCreateAsset",
                      "Type": "Map",
                      "ItemSelector": {
                        "Id.$": "$.Id",
                        "EgressEndpoint.$": "$$.Map.Item.Value"
                      },
                      "ItemsPath": "$.EgressEndpoints"
                    }
                  }
                }
              ],
              "End": true,
              "Type": "Parallel"
            },
            "checkMediaConvertStatus": {
              "Choices": [
                {
                  "Next": "CreateAsset",
                  "StringEquals": "COMPLETE",
                  "Variable": "$.status"
                }
              ],
              "Default": "failureOnMediaConvert",
              "Type": "Choice"
            },
            "failureOnMediaConvert": {
              "Type": "Fail"
            }
          }
        }
      ],
      "End": true,
      "Type": "Parallel"
    },
    "createMediaConvertJob": {
      "Next": "Parallel",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:ap-northeast-1:917447186506:function:vod-encoding-pipeline-create-encoding-job:$LATEST",
        "Payload": {
          "sfnName.$": "$$.Execution.Name",
          "sfnToken.$": "$$.Task.Token",
          "srcBucket.$": "$.detail.bucket.name",
          "srcObject.$": "$.detail.object.key"
        }
      },
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Retry": [
        {
          "BackoffRate": 2,
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6
        }
      ],
      "Type": "Task"
    }
  }
}