workflow/vod-encoding-mediaconvert-job.json
{
  "Comment": "- createMediaConvertJob is an async step. It's need to be resume by external eventbridge to trigger.",
  "StartAt": "createMediaConvertJob",
  "States": {
    "Parallel": {
      "Branches": [
        {
          "StartAt": "publishMediaConvertStatus",
          "States": {
            "publishMediaConvertStatus": {
              "Parameters": {
                "Message.$": "$",
                "TopicArn": "arn:aws:sns:ap-northeast-1:917447186506:video-pipeline-status"
              },
              "Resource": "arn:aws:states:::sns:publish",
              "Type": "Task",
              "End": true
            }
          }
        },
        {
          "StartAt": "checkMediaConvertStatus",
          "States": {
            "failureOnMediaConvert": {
              "Type": "Fail"
            },
            "checkMediaConvertStatus": {
              "Choices": [
                {
                  "Next": "CreateAsset",
                  "StringEquals": "COMPLETE",
                  "Variable": "$.status"
                }
              ],
              "Default": "failureOnMediaConvert",
              "Type": "Choice"
            },
            "CreateAsset": {
              "Type": "Task",
              "Parameters": {
                "Id": "MyData",
                "PackagingGroupId": "MyData",
                "SourceArn": "MyData",
                "SourceRoleArn": "MyData"
              },
              "Resource": "arn:aws:states:::aws-sdk:mediapackagevod:createAsset.waitForTaskToken",
              "Next": "Parallel (1)"
            },
            "Parallel (1)": {
              "Type": "Parallel",
              "End": true,
              "Branches": [
                {
                  "StartAt": "publishMediaPackageStatus",
                  "States": {
                    "publishMediaPackageStatus": {
                      "End": true,
                      "Parameters": {
                        "Message.$": "$",
                        "TopicArn": "arn:aws:sns:ap-northeast-1:917447186506:video-pipeline-status"
                      },
                      "Resource": "arn:aws:states:::sns:publish",
                      "Type": "Task"
                    }
                  }
                },
                {
                  "StartAt": "checkMediaPackageStatus",
                  "States": {
                    "checkMediaPackageStatus": {
                      "Type": "Choice",
                      "Choices": [
                        {
                          "Variable": "$.result",
                          "StringEquals": "COMPLETE",
                          "Next": "Success"
                        }
                      ],
                      "Default": "failureOnMediaPackage"
                    },
                    "Success": {
                      "Type": "Succeed"
                    },
                    "failureOnMediaPackage": {
                      "Type": "Fail"
                    }
                  }
                }
              ]
            }
          }
        }
      ],
      "End": true,
      "Type": "Parallel"
    },
    "createMediaConvertJob": {
      "Next": "Parallel",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:ap-northeast-1:917447186506:function:vod-encoding-pipeline-emc-create-job:$LATEST",
        "Payload": {
          "sfnName.$": "$$.Task.Name",
          "sfnToken.$": "$$.Task.Token",
          "bucket.$": "$.detail.bucket.name",
          "object.$": "$.detail.object.key"
        }
      },
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Retry": [
        {
          "BackoffRate": 2,
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6
        }
      ],
      "Type": "Task"
    }
  }
}